body{
    /*font-family: 'Nunito Sans', sans-serif;*/
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    border-bottom: 1px solid #DEDEDE;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-logo{
    display: block;
    background-image: url(/images/logo.svg);
    height: 56px;
    width: 175px;
}
.header-nav{
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 46px;
    font-family: 'Open Sans', sans-serif;
}
.header-nav a:hover{
    color: #FFC725;
}
.header-nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #443737;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after{
     background: #FFC725;
}
.button{
    display:flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item{
    position: relative;
}
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    background: #F37335;
    padding: 0,5px;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text{
    font-weight: 700;
    font-size: 15px;
    color: #443737; 
}
.bg{
    text-align: center;
    color: #fff;
    background-image: url(/images/bg.png);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a{
    text-decoration: none;
    color: #DEDEDE;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.breadcrumbs a:hover{
    color: #FFC725;
}
.breadcrumbs a::before{
    content: '/';
    left:-3px;
    position: relative;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before{
    display: none;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: 'Nunito Sans', sans-serif;
}
.discription{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box{
    background-image: url(/images/banner-bg.png);
    background-size:  cover;
    background-position: center center;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 100px;
}
.banner-title{
    color: #fff;
}
.text{
    background-color: #F37335;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.price{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}
.banner-text{
    color: #fff;
    max-width: 353px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
}
.banner-link{
    color: #1E2F40;
    background: #F1B731;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 20px 10px 20px 10px;
}

